@import url('https://fonts.cdnfonts.com/css/poppins?styles=20390');
@keyframes shake {
    0% {transform: rotate(5deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
}
@keyframes lineheight {
    0% {line-height: 6vh}
    100% {line-height: 9vh}
}
.material-symbols-outlined.md-36 {
    float: left;
    margin-top: 5.5vh;
    margin-left: 1.5vw;
    transition: all 1s;
    font-size: 36px;
    font-variation-settings:
    'FILL' 500,
    'wght' 400,
    'GRAD' 0,
    'opsz' 16
}
* {
    transition: all 1s;
}
#sidebar {
    height: 15vh;
    width: 19vw;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    float: right;
    margin-right: 1vw;
    margin-top: 2vh;
    line-height: 11vh;
    transition: all 1s;
    overflow-y: hidden;
}
#sidebar:hover {
    height: 59.5vh; 
}
#sidebar:hover > .material-symbols-outlined { 
    transform: rotate(180deg);
}
#sidebarpiece {
    float: center;
    height: 6vh;
    width: 15vw;
    background-color: rgb(203, 127, 237);
    border-radius: 10px;
    text-align: center;
    margin: 2vh;
    margin: 0 auto;
    line-height: 6vh;
    align-self: center;
    margin-top: 2.5vh

}
#sidebarpiece:hover {
    animation-name: line-height;
    animation-duration: 1s;
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    height: 9vh; 
    width: 18vw;
    line-height: 9vh;
}
#header {
    background-color: aliceblue;
    border-radius: 10px;
    height: 15vh;
    float: top;
    width: 98vw;
    margin-left: 1vw;
    line-height: 15vh;
    text-align: center;
}
#footer {
    background-color: rgb(18, 0, 132);
    border-radius: 10px;
    height: 17vh;
    float: top;
    width: 98vw;
    margin-left: 1vw;
    margin-top: 64vh;
    text-align: center;
    line-height: 8.5vh;
}
#content {
    background-color: aliceblue;
    border-radius: 10px;
    height: 59.5vh;
    float: left;
    width: 55vw;
    margin-left: 1vw;
    text-align: left;
    margin-top: 2vh;
    padding-right: 22vw;
    position: relative;
    z-index: 10;
}
#imghome {
    float: right;
    position: absolute;
    bottom: 4vh;
    transition: all 1s
}
#imgclimate {
    float: left;
    height: 23vh;
    width: 17vw;
    float: left;
    margin-top: .5vh;
    margin-left: 2vh;
    position: relative;
    z-index: 20;
}
#imgclimate:hover + #invisidiv{
    height: 0vh;
    font-size: 1000;
}
#invisidiv {
    height: 23.5vh;
    width: 17vw;
    margin-left: -17vw;
    margin-top: 22vh;
    background-color: aliceblue;
    float: left;
    transition: all 1s;
}
#backtext {
    font-size: .825vw;
    z-index: -1; 
    position: relative;
}
#filler {
    background-color: rgb(0,0,0,0); 
    height: 2.5vh
}
p {
    font-family: 'Poppins', sans-serif;
    margin: 1vw;
    font-weight: bold;
}
h1 {
    font-family: 'Poppins', sans-serif;
    margin: 1vw;
    float: center
}
cite {
    font-family: 'Poppins', sans-serif;
    margin: 1vw;
    float: center;
    color:rgb(46, 218, 183)
}
a {
    text-decoration: none;
    color: black;
}
img {
    border-radius: 10px;
}
body {
    background-color: rgb(57, 57, 238);
}